<style>
    .frontImage {
        width: 100%;
        height: 94vh;
        background-repeat: no-repeat;
        background-size: contain;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <img src="~/Images/home.jpg" class="frontImage" />
    </div>
    
</div>

